doctype
html( lang = "ja" )
	head
		meta( charset = "utf-8" )
		title Raspberry Pi 3 Device Control
		script( type="text/javascript" src="bundle.js" )
	body
		header
			h1 Raspberry Pi 3 Device Control
		#contents
			form( action = "device_ctrl.cgi", method = "POST" )
				legend LED
					table
						tr
							td
								span LED1 :
							td
								button( type = "submit", name = "led1", value = "on" )
									| ON
							td
								button( type = "submit", name = "led1", value = "off" )
									| OFF
						tr
							td
								span LED2 :
							td
								button( type = "submit", name = "led2", value = "on" )
									| ON
							td
								button( type = "submit", name = "led2", value = "off" )
									| OFF
			legend SWITCH
				table
					tr
						td
							span SW1 :
						td
							div( id = "sw1" )
